{:kotoba.app/id "cloud.itonami.isic-0130", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicfowipgkxkewveioercrbsa5avp5o64kaco4sz6w3hvy2lbtfnuq", :kotoba.app/embed-url "ipfs://bafkreicfowipgkxkewveioercrbsa5avp5o64kaco4sz6w3hvy2lbtfnuq", :published {:archive "https://kotobase.net/ipfs/bafkreicfowipgkxkewveioercrbsa5avp5o64kaco4sz6w3hvy2lbtfnuq", :size 72852, :put-status 201, :get-status 200, :at "2026-08-15T13:33:58.874Z"}}
